.Forecast {
  text-align: center;
  margin: 15px 0 5px 0;
  padding: 0;
}

.Forecast img {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.Forecast .col {
  padding: 0;
  margin: 0;
}

.Forecast h6 {
  padding: 0;
  margin: 0;
}

.Forecast .forecastUnit {
  font-size: 11px;
  position: relative;
  bottom: 2.5px;
}
