.Search .icons {
  color: #636363;
  background: none;
  width: 40px;
}

.Search .search-box,
.icons {
  margin-top: 10px;
  padding: 6px;
  border: 0.7px solid #636363;
  border-radius: 5px;
  margin-right: 3px;
}

.Search .search-box {
  width: 300px;
  margin-left: 10px;
}

.Search .icons:hover {
  background: #f2f2f2;
}
