.Search .icons {
  color: #636363;
  background: none;
  width: 40px;
}

.Search .search-box,
.icons {
  margin-top: 10px;
  padding: 6px;
  border: 0.7px solid #636363;
  border-radius: 5px;
  margin-right: 3px;
}

.Search .search-box {
  width: 300px;
  margin-left: 10px;
}

.Search .icons:hover {
  background: #f2f2f2;
}

.Search .celsius-btn,
.fahrenheit-btn {
  margin-top: 10px;
  padding: 6px;
  border: 0.7px solid #636363;
  width: 40px;
  border-radius: 10px;
}

.Search .celsius-btn {
  margin-left: 24px;
  background: #f8cb7d;
}

.Search .fahrenheit-btn {
  margin-left: 3px;
  background: none;
}

.Search .row-cols-6 {
  margin: 25px 0 0;
  padding: 0;
}

.error {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}
