.Weather h1 {
  padding: 15px 0 5px 16px;
  font-size: 34px;
}

.Weather .dateDescription {
  list-style: none;
  padding-left: 18px;
  font-size: 14px;
  text-transform: capitalize;
}

.Weather .weatherIcon {
  position: relative;
  bottom: 25px;
  left: 85px;
}

.Weather h2 {
  position: relative;
  right: 6px;
}

.Weather .currentTemp {
  font-size: 45px;
}

.Weather .weatherUnit {
  font-size: 26px;
  position: relative;
  left: 2px;
  bottom: 12px;
}

.weatherExtra {
  list-style: none;
  font-size: 14px;
  position: relative;
  left: 342px;
  bottom: 25px;
}

.Weather .row-cols-6 {
  margin: 0;
  padding: 0;
}
